{% extends "base_generic.html" %}

{% block title %}<title>All Books</title>{% endblock %}

{% block contentheader %}
  <h3 class="text-center">Some Awesome Books</h3>
{% endblock %}

{% block content %}

  {% if book_list %}
	<div class="row no-gutters">
    {% for book in book_list %}
	  <div class="col-12 col-xl-6">
        <div class="card my-2 mx-0 mx-md-3">
            <img class="card-img-top" src="{{ book.get_image }}" alt="{{ book.title }} image">
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
			  <h6 class="card-subtitle mb-2 text-muted">By {{ book.author }}</h6>
              <p class="card-text">
                  {{ book.description }}
                  <br>
                  Genres: {% for genre in book.genres.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}
              </p>
              <a href="{{ book.get_absolute_url }}" class="btn btn-primary">Go to Book</a>
            </div>
        </div>
	  </div>
    {% endfor %}
	</div>
  {% else %}
    <p>Sorry! We have no books available</p>
  {% endif %}
{% endblock %}