{% extends "base_generic.html" %}

{% block title %}<title>All Films</title>{% endblock %}
{% load static %}
{% block jumbo %}
    <div id="jumbo" class="jumbotron jumbotron-fluid" style="background: url({% static 'images/writefilm.jpeg' %}) center center / cover no-repeat;">
      <div class="container">
        <div class="row">
          <h1 class="d-inline-block">Our <br>Films <br>Selection</h1>
        </div>
        <div class="row">
          <div class="col-12">
            <p>Here you'll find the films uploaded by our users and graded by the community</p>
            <p>Feel free to comment and grade. If you're <a href="{% url 'signup' %}">registered</a>, you can upload a masterpiece!</p>
          </div>
          </div>
      </div>
    </div>
{% endblock %}

{% block contentheader %}
  <h1 class="text-center">Some Awesome Films</h1>
{% endblock %}

{% block content %}

  {% if film_list %}
	<div class="row no-gutters">
    {% for film in film_list %}
	  <div class="col-12 col-md-6">
        <div class="card my-2 mx-0 mx-md-3">
            <img class="card-img-top" src="{{ film.image.url }}" alt="{{ film.title }} image">
            <div class="card-body">
              <h5 class="card-title">{{ film.title }}</h5>
			  <h6 class="card-subtitle mb-2 text-muted">By {{ film.author }}</h6>
              <p class="card-text">
                  {{ film.description }}
                  <br>
                  {{ film.diplay_genre}}
              </p>
              <a href="{{ film.get_absolute_url }}" class="btn btn-primary">Go to Film</a>
            </div>
        </div>
	  </div>
    {% endfor %}
	</div>
  {% else %}
    <p>Sorry! We have no Films available</p>
  {% endif %}
{% endblock %}