{% extends "base_generic.html" %}

{% block title %}<title>Our Genres</title>{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/genres.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/has-commented.css' %}">
{% endblock %}

{% block jumbo %}
	<div id="jumbo" class="jumbotron jumbotron-fluid" style="background: url({% static 'images/bookfilm2.jpeg' %}) center center / cover no-repeat;">
		<div class="container">
            <section class="row">
                <h1 class="d-inline-block text-center text-sm-left">Books &amp; <br>Films</h1>
            </section>
            <section id="breadcrumb" class="row">
                <nav class="col-12" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <span>You are in: &nbsp;</span>
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Genres</li>
                    </ol>
                </nav>
                <p id="jumbotext" class="col-12">
                    Click on a genre to see its masterpieces.
                </p>
            </section>
        </div>
    </div>
    {% if has_commented %}
    <section id="has-commented" class="out">
        <article>
            <h4 class="text-center">Your genre has been added.</h4>
            <h4 class="text-center">Thanks for Contributing!</h4>
            <p class="d-flex justify-content-center align-items-center p-1 m-0">
                <button id="close-commented" class="btn btn-sm btn-light">Close</button>
            </p>
        </article>
    </section>
    {% endif %}
{% endblock %}

{% block contentheader %}
	<h3>We have these genres' masterpieces</h3>
{% endblock %}

{% block content %}
	{% if genres %}
		<div class="genres">
			<ul class="list-group list-group-flush text-center">
				{% for genre in genres %}
					<li class="list-group-item">
                        <a href="{{ genre.get_absolute_url }}">
                            {{ genre.name }}
                            &nbsp;<span class="badge badge-light">{{ genre.get_num_genre }}</span>
                        </a>
                    </li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/hasCommentedModal.js' %}" type="text/javascript"></script>
{% endblock %}