{% extends "base_generic.html" %}
{% block title %}<title>Logged out!</title>{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block jumbo %}
    <div id="jumbo" class="jumbotron jumbotron-fluid" style="background: url({% static 'images/bookfilm2.jpeg' %}) center center / cover no-repeat;">
        <div class="container">
            <section class="row">
                <h1 class="d-inline-block text-center text-sm-left">Books &amp; <br>Films</h1>
            </section>
            <section id="breadcrumb" class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <span>You are in: &nbsp;</span>
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Log Out</li>
                    </ol>
                </nav>
            </section>
        </div>
    </div>
{% endblock %}

{% block content %}
    <p>Logged out!</p>
    <a href="{% url 'login' %}">Click here to login again.</a>
{% endblock %}