{% extends "base_generic.html" %}

{% block title %}<title>Password Reset</title>{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block jumbo %}
    <div id="jumbo" class="jumbotron jumbotron-fluid" style="background: url({% static 'images/bookfilm2.jpeg' %}) center center / cover no-repeat;">
        <div class="container">
            <section class="row">
                <h1 class="d-inline-block text-center text-sm-left">Books &amp; <br>Films</h1>
            </section>
            <section id="breadcrumb" class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <span>You are in: &nbsp;</span>
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New Password</li>
                    </ol>
                </nav>
            </section>
        </div>
    </div>
{% endblock %}

{% block contentheader %}
	<h3 class="text-center">Reset your password</h3>
{% endblock %}


{% block content %}
  {% if validlink %}
    <p class="password-reset">
        Please enter (and confirm) your new password.
        <small>The password must contain at least 8 characters and can't be entirely numeric.</small>
    </p>
    <form class="form text-center" action="" method="post">
      {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                </td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                </td>
				<td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Change my password" /></td>
            </tr>
        </table>
    </form>
  {% else %}
    <h1 class="password-reset failed">Password reset failed!</h1>
    <p class="password-reset">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock %}