{% extends 'base_generic.html' %}

{% load crispy_forms_tags %}
{% block title %}<title>Sign Up</title>{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block jumbo %}
    <div id="jumbo" class="jumbotron jumbotron-fluid" style="background: url({% static 'images/bookfilm2.jpeg' %}) center center / cover no-repeat;">
        <div class="container">
            <section class="row">
                <h1 class="d-inline-block text-center text-sm-left">Books &amp; <br>Films</h1>
            </section>
            <section id="breadcrumb" class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <span>You are in: &nbsp;</span>
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                        	Sign Up
                        </li>
                    </ol>
                </nav>
            </section>
        </div>
    </div>
{% endblock %}

{% block contentheader %}
    <h3>Sign Up</h3>
{% endblock %}

{% block content %}
    <form class="form" method="post">
        <p class="fields-required">The fields marked with &#42; are required.</p>

      {% csrf_token %}
      {{ form|crispy }}
      <div id="submit">
        <input type="submit" class="btn btn-primary" value="Sign up" />
      </div>
    </form>
    <p class="signupintro"><a href="{% url 'login' %}">Already a member?</a></p>
{% endblock %}