{% extends "base_generic.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block contentheader %}
  <h3>We have {{ num_items }} amazing artpieces, check'em out!</h3>
{% endblock %}

{% block content %}

{% if items %}
<div id="bookcarousel" class="bd-example">
  <div id="imgcarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
	  {% for item in items %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}" data-interval="5000">
        <img src="{{ item.get_image }}" class="d-block w-100" alt="{{ item.title }}">
        <div id="carouseltext" class="carousel-caption d-none d-md-inline-block text-center">
          <h5>{{ item.title }}</h5>
		{% if item.phrase %}
          <p>{{ item.phrase }}</p>
		{% endif %}
        </div>
      </div>
	  {% endfor %}
	  
    </div>
  	<div class="btn-group" role="group" id="controls">
      <button type="button" class="btn btn-sm btn-danger" id="prevCarousel">
        <span class="sr-only">Previous</span>
        <i class="fas fa-backward"></i>
      </button>
  	  <button type="button" class="btn btn-primary btn-sm" id="pauseCarousel">
        <span class="sr-only">Pause</span>
  		  <i class="fa fa-pause"></i>
  	  </button>
  	  <button type="button" class="btn btn-success btn-sm" id="playCarousel">
        <span class="sr-only">Play</span>
  		  <i class="fa fa-play"></i>
  	  </button>
      <button type="button" class="btn btn-sm btn-danger" id="nextCarousel">
        <span class="sr-only">Next</span>
        <i class="fas fa-forward"></i>
      </button>
  	</div>
  </div>
</div>
{% else %}
<div id="no-items">
  <h1>
    We haven't books yet!
  </h1>
  <h3>
    Sign in and add items in the <i>Create</i> Section.
  </h3>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{% static 'js/sliderControls.js' %}"></script>
{% endblock %}
