/*CONTENT BOOKLIST, FILMLIST*/
#content #books > div .card {
	padding: .5rem;
	border-color: black;
	background-color: rgb(221,225,225);
}
#content #books > div .card .card-img-top {
	object-fit: contain;
	max-height: 300px; 
}
/* Book List */
/* AIXÒ HI HA QUE REVISAR-HO */
/* Buttons inside content */
#content #books .btn-primary {
	color: white;
	font-weight: 700;
	border: 2px solid black;
	background-color: #0e3cd3;
}
#content #books .btn-primary:hover {
	background-color: #51a7f7;
	color: black;
}
/* 0 results message in lists*/
.no-items {
	color: white;
	font-weight: 700;
	margin: 3rem 2rem 0;
	text-align: center;
}
.no-items a {
	color: rgb(252,238,45);
	transition: color .2s linear;
}
.no-items a:hover {
	color: violet;
}